body{
    margin: 0;
    padding: 0;
    background-color: hsl(217, 54%, 11%);
}
main{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-content: center;
}

.card{
    margin-top: 10vh;
    height: 500px;
    width: 300px;
    background-color: hsl(216, 50%, 16%);
    text-align: center;
    border-radius: 10px;
}

.block-img{
    width: 260px;   
    padding-top: 20px;
    border-radius: 10px;
}

h1{
    color: hsl(0, 0%, 100%);
    font-size: 1.25rem;
    text-align: left;
    padding-left: 20px;
}

p{
    color: hsl(215, 51%, 70%);
    text-align: left;
    padding-left: 20px;
    font-size:  1rem;
    
}

.div-container{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 8px;
}

.div-container-img{
    display: flex;
}

.div-container-img img{
    width: 11px;
    height: 13px;
    
}

.div-container-img span{
    margin: 0;
    padding-left: 5px;
    font-size: 0.9rem;
    color: hsl(178, 100%, 50%);
    
}

.div-hr{
    margin-left: 20px;
    width: 260px;
    background-color: hsl(215, 32%, 27%);
    height: 1px;
    margin-bottom: 12px;
    margin-top: 5px;    
}

.div-avatar{
    display: flex;
    padding-left: 20px;
    align-items: center;

}

.div-avatar img{
    width: 30px;
    height: 30px;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 20px;
}

.information{
    
    display: flex;
    justify-content: center;
    align-items: flex-end;
   
}

.name-span{
    color: hsl(0, 0%, 100%);
}

.information{
 margin-top: 70px;
    

}